@model ActivityTracking.WebClient.Models.AdminShowGroupInfoViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "ShowGroupInfo";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Group: @Model.Group.Name</b>
        <br>
        <b>MayAbsentTime: @Model.Group.MayAbsentTime.Hours hours, @Model.Group.MayAbsentTime.Minutes minutes, @Model.Group.MayAbsentTime.Seconds seconds</b>
        <br />
        @if (Model.GroupManager == null)
        {
            <b>Manager: this group doesn't have manager</b>
        }
        else
        {
        <b>Manager: @Model.GroupManager.UserName</b>
        }
    </div>

        <div class="panel-body">
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th class="text-center">Group users</th>
                </tr>
                @foreach (var user in Model.Group.Users)
            {
                    <tr>
                        <td>@user.UserName</td>
                    </tr>
                }
            </table>
        </div>
    </div>







